@font-face {
  font-family: Holiday Cheer;
  src: url("/fonts/holiday_cheer/Holiday Cheer.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.main {
  font-family: "Holiday Cheer", sans-serif;

  h1 {
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    2px 2px #fff, -2px -2px #fff, 2px -2px #fff, -2px 2px #fff;
    font-size: 90px;
  }

  .title {
    background-image: url("/images/title-bg-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .header-mobile {
      display: none;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;

      nav {
        display: flex;
        gap: 30px;
        font-size: 30px;

        a {
          text-decoration: none;
          color: black;
        }
      }
    }

    .title-items {
      margin-top: 60px;
      display: flex;

      .title-boy_block {
        display: flex;
        align-items: flex-end;
      }

      .title-text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;

        h1 {
          text-align: right;
          font-size: 90px;
          color: black;
          -webkit-text-stroke-width: 3px;
          -webkit-text-stroke-color: white;
        }

        div {
          margin-top: 40px;
          text-align: right;
          font-size: 40px;
          text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
          2px 2px #fff, -2px -2px #fff, 2px -2px #fff, -2px 2px #fff;
        }
      }
    }

    .title-boy-mobile {
      display: none;
    }
  }

  .video {
    margin-top: 80px;

    iframe {
      border: 10px solid white;
      border-radius: 40px;
    }
  }

  .about {
    margin-top: 80px;

    h1 {
      text-align: center;
    }

    .about-items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      align-items: center;

      .about-text {
        font-size: 40px;
      }
    }
  }

  .wallet {
    padding: 60px 0;

    .wallet-block {
      background: #729FA7;
      border-radius: 30px;
      display: flex;
      padding: 47px 95px;

      .col-1 {
        width: 50%;
        border-right: 1px solid white;

        img {
          width: 135px;
          height: 135px;
          display: block;
        }

        .wallet-title {
          margin-top: 25px;
          display: flex;
          font-size: 40px;
        }

        .balance {
          .coin {
            color: #EFE564;
            margin-left: 35px;
          }

          span {
            font-size: 90px;
          }
        }

        .buttons {
          width: 100%;
          display: flex;
          gap: 57px;

          .add {
            background: inherit;
            box-shadow: none;
            border: 1px solid #FFFFFF;
            color: white;

            &:hover {
              color: gray;
              border: 1px solid gray;
              box-shadow: none;
            }
          }

          button {
            margin-top: 40px;
            display: block;
            background: #EFE564;
            border-radius: 35.2949px;
            border: none;
            font-size: 40px;
            transition: 0.3s;
            padding: 17px 53px;

            &:hover {
              box-shadow: 0 0 30px gray;
            }
          }
        }

        span {
          color: white;
        }

      }

      .col-2 {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;


        .coin-balance {
          width: 400px;
          display: grid;
          grid-template-columns: 1fr 1fr;

          span {
            font-size: 40px;
            width: auto;
            display: block;
            color: white;
          }
        }

        .balance {
          margin-top: 100px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .balance-title {
            font-size: 48px;
          }

          .coin-name {
            margin-left: 20px;
            color: #EFE564;
          }

          span {
            font-size: 64px;
            color: white;
          }

          button {
            background: #EFE564;
            margin-top: 60px;
            display: block;
            border-radius: 35.2949px;
            border: none;
            font-size: 20px;
            transition: 0.3s;
            padding: 17px 53px;

            &:hover {
              box-shadow: 0 0 30px gray;
            }
          }
        }
      }
    }
  }

  .instructions {
    padding: 90px 0;

    h1 {
      text-align: center;
    }

    .instructions-items {
      display: flex;
      gap: 40px;
      margin-top: 100px;

      .instructions-block {
        display: flex;
        flex-direction: column;
        gap: 70px;

        .instruction {
          display: flex;
          align-items: center;
          gap: 20px;

          .instruction-text {
            .instruction-title {
              font-size: 64px;
              text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
              2px 2px #fff, -2px -2px #fff, 2px -2px #fff, -2px 2px #fff;
            }

            span {
              display: block;
              color: black;
              font-size: 40px;
              text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
              2px 2px #fff, -2px -2px #fff, 2px -2px #fff, -2px 2px #fff;
            }
          }

          img {
            width: 100px;
          }
        }
      }
    }
  }

  .roadmap {
    h1 {
      text-align: center;
    }

    .roadmap-items {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      gap: 60px;

      .phase {
        background: #729FA7;
        padding: 40px 50px;
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 40px;
        border-radius: 20px;

        h3 {
          font-size: 40px;
        }

        span {
          padding-left: 30px;
        }
      }
    }
  }

  .diagram {
    margin-top: 80px;

    h1 {
      text-align: center;
    }

    img {
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
    }

    .total {
      margin-top: 60px;
      background: #729FA7;
      border-radius: 20px;

      .total-items {
        display: flex;
        justify-content: space-between;
        padding: 40px 40px;

        span {
          margin-top: 40px;
          color: white;
          font-size: 36px;
          display: block;
        }
      }
    }
  }

  .partners {
    margin-top: 60px;

    h1 {
      text-align: center;
    }

    .partners-items {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
      gap: 25px;


      img {
        width: 370px;
      }
    }

    .partners-mobile-items {
      display: none;
    }
  }

  .publication {
    margin-top: 60px;
    margin-bottom: 60px;

    h1 {
      text-align: center;
    }

    .publication-items {
      display: flex;
      justify-content: space-between;
      gap: 25px;

      img {
        width: 370px;
      }
    }
  }
}

.adaptive-menu {
  display: none;
  transition: 0.3s;
  width: 50%;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  background: #6BB8C8;
  box-shadow: 0 3px 12px -4px rgb(0 0 0 / 70%);

  img {
    width: 60px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .navbar {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
    padding-left: 20px;

    div {
      transition: 0.6s;

      a {
        font-size: 30px;
        text-decoration: none;
        color: black;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .main {

    .title {

      .title-items {
        margin-top: 40px;
        position: relative;

        .title-text {
          position: absolute;

          h1 {
            width: 65%;
            font-size: 70px;
          }

          div {
            width: 75%;
            font-size: 32px;
          }
        }

        .title-boy_block {
          img {
            width: 450px;
          }
        }
      }
    }

    .partners {
      .partners-items {
        img {
          width: 300px;
        }
      }
    }

    .publication {
      .publication-items {
        justify-content: space-between;

        img {
          width: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .main {

    h1 {
      font-size: 70px;
    }

    .title {
      height: 100%;

      .title-items {
        position: initial;

        .title-boy_block {
          display: none;
        }

        .title-text {
          position: initial;
          width: 100%;

          h1 {
            width: 80%;
          }
        }
      }

      .title-boy-mobile {
        display: initial;
        position: absolute;
        top: 324px;

        img {
          width: 280px;
        }
      }
    }

    .video {
      iframe {
        height: 500px;
      }
    }

    .instructions {
      .instructions-items {
        display: block;

        .instructions-block {
          &:last-child {
            margin-top: 70px;
          }

          .instruction {
            display: flex;
            justify-content: center;

            .instruction-text {
              width: 500px;

              span {
                font-size: 34px;
              }

              .instruction-title {
                font-size: 52px;
              }
            }
          }
        }
      }
    }

    .roadmap {
      .roadmap-items {
        .phase {
          h3 {
            font-size: 34px;
          }

          span {
            font-size: 34px;
          }
        }
      }
    }

    .diagram {
      img {
        width: 100%;
      }
    }

    .about {
      .about-items {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;

        .about-text {
          font-size: 34px;
        }

        img {
          width: 400px;
        }
      }
    }

    .wallet {
      font-size: 34px;

      .wallet-block {
        display: block;

        .col-1 {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-right: none;

          .buttons {
            display: flex;
            justify-content: center;
          }
        }

        .col-2 {
          margin-top: 40px;
          width: 100%;

          .balance {
            margin-top: 30px;

            button {
              width: 100%;
              font-size: 40px;
            }
          }
        }
      }
    }

    .partners {
      .partners-items {
        display: none;
      }

      .partners-mobile-items {
        margin-top: 25px;
        display: flex;
        justify-content: space-around;

        img {
          width: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .main {
    .adaptive-menu {
      width: 60%;

      .navbar {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: start;
        padding-left: 40px;

        div {
          transition: 0.6s;

          a {
            font-size: 60px;
            text-decoration: none;
            color: white;
          }
        }
      }
    }

    .title {
      .header-mobile {
        display: flex;
        justify-content: space-between;
        height: 100px;

        .menu-bar {
          width: 100px;
        }

        img {
          width: 200px;
        }
      }

      header {
        display: none;
      }

      .title-items {
        .title-text {
          h1 {
            font-size: 56px;
          }

          div {
            font-size: 26px;
          }
        }
      }

      .title-boy-mobile {
        position: absolute;

        img {
          position: absolute;
          top: -30px;
          width: 190px;
        }
      }
    }

    .publication {
      .publication-items {
        display: flex;
        gap: 25px;

        img {
          display: block;
        }
      }
    }
  }
}
